<p>Please wait...</p>
<%= form_tag APP_CONFIG[:paypal_url] do  %>
    <%= hidden_field_tag 'cmd', '_s-xclick' %>
    <%= hidden_field_tag 'encrypted', @encrypted %>
<% end %>
<script>
    document.forms[0].submit();
</script>
