// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order_summary {
    th {
        font-weight: bold;
        text-align: left;
    }
    td {
        padding-right: 30px;
    }
}
