<style>
    .dark {background-color: purple; color: white;}
</style>
<table border="1">
    <% @show.performances.each do |p| %>
        <tr>
    <td colspan='3' class='dark'><%= p.date_string %></td>
    <% p.tickets.each do |t| %>
        <tr>
            <td><%= t.cart.order_firstname %> </td>
            <td><%= t.cart.order_lastname %></td>
            <td><%= t.quantity %></td>
        </tr>
    <% end %>
</tr>
<% end %>
</table>
